* {
  box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    background-color: bisque;
};

.layout-body{
  display: flex;
  justify-content: center;
  width: 100%;
}

.layout-dark{
  background-color: rgb(163, 159, 159);
  min-height: 100vh;
  min-width: 100%;
}