* {
  box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: bisque;
};

.layout-body{
  display: flex;
  justify-content: center;
}