.dentistCard-component{
  display: flex;
  background-color: palevioletred;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  border: 0.5px solid  darkgray;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.dentistCard-component .image-container {
  position: relative;
  display: flex;
}

.dentistCard-component .image-container .icon-favs{
  width: 40px;
  position: absolute;
  top: -16px;
  right: -7px;
  cursor: pointer;
}

.dentistCard-component .image-container .icon-remove{
  width: 40px;
  position: absolute;
  top: -14px;
  right: -6px;
  cursor: pointer;
}

.dentistCard-component img{
  width: 150px;
  margin: 0 auto;
  border-radius: 10px;
}

.dentistCard-component .info-container{
  padding: 10px;
  background-color: #e9acc0;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.dentistCard-component .info-container .dentist-name{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.dentistCard-component .info-container .dentist-username{
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.dentistCard-component .dentistCard-footer{
  margin-top: auto;
}

.dentistCard-component .dentistCard-footer button{
  border-radius: 10px;
  background-color: rgb(173, 97, 173);
  color: aliceblue;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}

.dentistCard-component img{
  width: 150px;
  margin: 0 auto;
  border-radius: 10px;
}

.layout-dark .dentistCard-component{
  background-color: rgb(175, 123, 141);
}

.layout-dark .dentistCard-component .info-container{
  background-color: #daa8b8;
}

.layout-dark .dentistCard-component .dentistCard-footer button{
  background-color: rgb(187, 154, 187);
  color: rgb(220, 227, 233);
}