
.navbar{
    background-color: purple;
    padding: 10px;
    display: flex;
}

.navbar ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar ul li{
    border-right: 1px dashed aliceblue;
}

.navbar ul li:hover{
    background-color: rgb(153, 81, 172);
}

.navbar ul li:last-child{
    border-right: 0;
}

.navbar ul li a{
    color:aliceblue;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar ul li a:hover{
    color: #61bcd8;
}


.navbar .icon-theme{
    margin-left: auto;
    padding: 4px;
    width: 50px;

}

.layout-dark .navbar{
    background-color: #666;
}

.layout-dark .navbar ul li{
    border-right: 1px dashed rgb(201, 200, 200);
}

.layout-dark .navbar ul li:hover{
    background-color: #3d3535;
}

.layout-dark .navbar ul li:last-child{
    border-right: 0;
}

.layout-dark .navbar ul li a{
    color: #ccc;
}


.layout-dark .navbar ul li a:hover{
    color: #726b6b;
}